@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  background-image: url('./assets/background_image.jpg');
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
